<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <title>五子棋</title>
</head>
<body style="text-align: center">
<br>
<div>
    <input id="btnJoin" type="button" value="加入房间" onclick="join()">
    <input id="btnQuit" type="button" value="退出房间" onclick="quit()">
</div>
<br>
<canvas id="gameMap" width="500" height="500" tabindex="0" style="border:1px solid #000000;">不支持canvas</canvas>
<br>
<div id="statusText" style="text-align: center;"></div>
</body>
<script type="text/javascript" th:inline="javascript">
    // 适配手机
    let ua = navigator.userAgent;
    let system = {
        win: false,
        mac: false,
        x11: false,
        //mobile
        iphone: false,
        ipad: false,
        ios: false,
        android: false,
        winMobile: false
    };
    let p = navigator.platform;
    system.win = p.indexOf('Win') === 0;
    system.mac = p.indexOf('Mac') === 0;
    system.x11 = (p === 'x11') || (p.indexOf('Linux') === 0);
    system.iphone = ua.indexOf('iPhone') > -1;
    system.ipad = ua.indexOf('iPad') > -1;
    system.android = ua.indexOf('Android') > -1;

    // 棋盘
    let gameMap = document.getElementById("gameMap");
    const viewWidth = window.innerWidth || document.documentElement.clientWidth;
    if (!(system.win || system.mac || system.x11)) {
        gameMap.width = viewWidth * 0.9;
        gameMap.height = viewWidth * 0.9;
    }
    const unitWidth = gameMap.width / 15;
    const unitHeight = gameMap.height / 15;
    let ctx = gameMap.getContext("2d");

    function redraw() {
        ctx.clearRect(0, 0, gameMap.width, gameMap.height);
        for (let col = 1; col < 16; col++) {
            ctx.beginPath();
            ctx.moveTo(unitWidth * (col - 0.5), unitWidth * 0.5);
            ctx.lineTo(unitWidth * (col - 0.5), gameMap.width - unitWidth * 0.5);
            ctx.stroke();
            ctx.beginPath();
            ctx.moveTo(unitWidth * 0.5, unitWidth * (col - 0.5));
            ctx.lineTo(gameMap.width - unitWidth * 0.5, unitWidth * (col - 0.5));
            ctx.stroke();
        }
        ctx.beginPath();
        ctx.arc(7.5 * unitHeight, 7.5 * unitWidth, 0.1 * unitWidth, 0, 2 * Math.PI);
        ctx.stroke();
        ctx.fillStyle = "#000000";
        ctx.fill();
    }

    redraw();

    // 连接
    let websocket = null;
    if ('WebSocket' in window) {
        websocket = new WebSocket("ws://" + location.host + "/gomoku");
    } else {
        alert('您的浏览器不支持WebSocket，无法开始游戏')
    }
    websocket.onerror = function () {
        alert("连接发生异常");
    };
    websocket.onopen = function () {
        console.log("连接成功");
    };
    websocket.onclose = function () {
        console.log("连接关闭");
        document.getElementById("statusText").innerText = "connection closed, please refresh";
    };
    window.onbeforeunload = function () {
        websocket.close();
    };

    // 游戏逻辑-加入/退出房间
    function join() {
        let roomId = prompt('请输入要加入的房间号');
        websocket.send(JSON.stringify({"type": "1", "roomId": roomId}));
    }

    function quit() {
        if (confirm('要退出房间吗？')) {
            websocket.send(JSON.stringify({"type": "2"}));
            redraw();
            renderStatus(" ");
        }
    }

    function renderStatus(value) {
        document.getElementById("statusText").innerText = value;
    }

    // 游戏逻辑-接收消息
    let currentMap;
    websocket.onmessage = function (message) {
        let data = JSON.parse(message.data);
        // 接到消息以后先尝试渲染棋盘
        let diff = calcDiff(data.map, currentMap);
        if (diff) {
            currentMap = data.map;
            redraw();
            for (let i = 0; i < data.map.length; i++) {
                for (let j = 0; j < data.map[i].length; j++) {
                    if (data.map[i][j] === 0) {
                        continue;
                    }
                    ctx.beginPath();
                    let r;
                    if (i === diff.i && j === diff.j) {
                        r = 0.5 * unitWidth;
                    } else {
                        r = 0.4 * unitWidth;
                    }
                    ctx.arc((j + 0.5) * unitHeight, (i + 0.5) * unitWidth, r, 0, 2 * Math.PI);
                    ctx.stroke();
                    if (data.map[i][j] === 1) {
                        ctx.fillStyle = "#EEEEEE";
                    } else if (data.map[i][j] === 2) {
                        ctx.fillStyle = "#333333";
                    }
                    ctx.fill();
                }
            }
        }
        // 再根据游戏状态展示
        if (data.gameStatus === '0') {
            renderStatus("waiting player");
        } else if (data.gameStatus === '1' || data.gameStatus === '2') {
            renderStatus("game started");
        } else if (data.gameStatus === '3') {
            renderStatus("white win");
            setTimeout(function () {
                renderStatus(" ");
                redraw();
            }, 3000);
        } else if (data.gameStatus === '4') {
            renderStatus("black win");
            setTimeout(function () {
                renderStatus(" ");
                redraw();
            }, 3000);
        } else if (data.gameStatus === '5') {
            renderStatus("draw");
            setTimeout(function () {
                renderStatus(" ");
                redraw();
            }, 3000);
        }
    };

    function calcDiff(newMap, oldMap) {
        if (newMap && !oldMap) {
            for (let i = 0; i < newMap.length; ++i) {
                for (let j = 0; j < newMap[i].length; j++) {
                    if (newMap[i][j] !== 0) {
                        return {"i": i, "j": j};
                    }
                }
            }
        } else if (newMap) {
            for (let i = 0; i < newMap.length; ++i) {
                for (let j = 0; j < newMap[i].length; j++) {
                    if (newMap[i][j] !== oldMap[i][j]) {
                        return {"i": i, "j": j};
                    }
                }
            }
        } else {
            return null;
        }
    }

    // 游戏逻辑-发送消息
    gameMap.addEventListener('click', function doClick(e) {
        let rect = gameMap.getBoundingClientRect();
        let x = e.clientX - rect.left * (gameMap.width / rect.width);
        let y = e.clientY - rect.top * (gameMap.height / rect.height);
        websocket.send(JSON.stringify({"type": "3", "i": y / unitHeight, "j": x / unitWidth}));
    }, true);
    gameMap.focus();
</script>
</html>
