<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <title>五子棋</title>
</head>
<body style="text-align: center">
<canvas id="gameMap" width="500" height="500" tabindex="0" style="border:1px solid #000000;">不支持canvas</canvas>
<div id="statusText" style="text-align: center;"></div>
</body>
<script type="text/javascript" th:inline="javascript">
    // 适配手机
    let ua = navigator.userAgent;
    let system = {
        win: false,
        mac: false,
        x11: false,
        //mobile
        iphone: false,
        ipad: false,
        ios: false,
        android: false,
        winMobile: false
    };
    let p = navigator.platform;
    system.win = p.indexOf('Win') === 0;
    system.mac = p.indexOf('Mac') === 0;
    system.x11 = (p === 'x11') || (p.indexOf('Linux') === 0);
    system.iphone = ua.indexOf('iPhone') > -1;
    system.ipad = ua.indexOf('iPad') > -1;
    system.android = ua.indexOf('Android') > -1;

    // 棋盘
    let gameMap = document.getElementById("gameMap");
    const viewWidth = window.innerWidth || document.documentElement.clientWidth;
    if (!(system.win || system.mac || system.x11)) {
        gameMap.width = viewWidth * 0.9;
        gameMap.height = viewWidth * 0.9;
    }
    const unitWidth = gameMap.width / 15;
    const unitHeight = gameMap.height / 15;
    let ctx = gameMap.getContext("2d");

    function redraw() {
        ctx.clearRect(0, 0, gameMap.width, gameMap.height);
        for (let col = 1; col < 16; col++) {
            ctx.beginPath();
            ctx.moveTo(unitWidth * (col - 0.5), unitWidth * 0.5);
            ctx.lineTo(unitWidth * (col - 0.5), gameMap.width - unitWidth * 0.5);
            ctx.stroke();
            ctx.beginPath();
            ctx.moveTo(unitWidth * 0.5, unitWidth * (col - 0.5));
            ctx.lineTo(gameMap.width - unitWidth * 0.5, unitWidth * (col - 0.5));
            ctx.stroke();
        }
        ctx.beginPath();
        ctx.arc(7.5 * unitHeight, 7.5 * unitWidth, 0.1 * unitWidth, 0, 2 * Math.PI);
        ctx.stroke();
        ctx.fillStyle = "#000000";
        ctx.fill();
    }

    redraw();

    // 连接
    let websocket = null;
    if ('WebSocket' in window) {
        websocket = new WebSocket("ws://" + location.host + "/gomoku");
    } else {
        alert('您的浏览器不支持WebSocket，无法开始游戏')
    }
    websocket.onerror = function () {
        alert("连接发生异常");
    };
    websocket.onopen = function () {
        console.log("连接成功");
        join();
    };
    websocket.onclose = function () {
        console.log("连接关闭");
        document.getElementById("statusText").innerText = "connection closed, please refresh";
    };
    window.onbeforeunload = function () {
        websocket.close();
    };

    // 游戏逻辑-加入游戏
    function join() {
        let roomId = prompt('请输入要加入的房间号');
        websocket.send(JSON.stringify({"type": "1", "roomId": roomId}));
        document.getElementById("statusText").innerText = "";
    }

    // 游戏逻辑-接收消息
    websocket.onmessage = function (message) {
        redraw();
        let data = JSON.parse(message.data);
        if (data.map != null) {
            for (let i = 0; i < data.map.length; i++) {
                for (let j = 0; j < data.map[i].length; j++) {
                    if (data.map[i][j] === 2) {
                        ctx.beginPath();
                        ctx.arc((j + 0.5) * unitHeight, (i + 0.5) * unitWidth, 0.4 * unitWidth, 0, 2 * Math.PI);
                        ctx.stroke();
                        ctx.fillStyle = "#333333";
                        ctx.fill();
                    } else if (data.map[i][j] === 1) {
                        ctx.beginPath();
                        ctx.arc((j + 0.5) * unitHeight, (i + 0.5) * unitWidth, 0.4 * unitWidth, 0, 2 * Math.PI);
                        ctx.stroke();
                        ctx.fillStyle = "#EEEEEE";
                        ctx.fill();
                    }
                }
            }
        }
        if (data.gameStatus === '0') {
            document.getElementById("statusText").innerText = "waiting player";
        } else if (data.gameStatus === '1' || data.gameStatus === '2') {
            document.getElementById("statusText").innerText = "game started";
        } else if (data.gameStatus === '3') {
            document.getElementById("statusText").innerText = "white win";
            setTimeout(join, 3000);
        } else if (data.gameStatus === '4') {
            document.getElementById("statusText").innerText = "black win";
            setTimeout(join, 3000);
        } else if (data.gameStatus === '5') {
            document.getElementById("statusText").innerText = "draw";
            setTimeout(join, 3000);
        }
    };

    // 游戏逻辑-发送消息
    gameMap.addEventListener('click', function doClick(e) {
        let rect = gameMap.getBoundingClientRect();
        let x = e.clientX - rect.left * (gameMap.width / rect.width);
        let y = e.clientY - rect.top * (gameMap.height / rect.height);
        websocket.send(JSON.stringify({"type": "3", "i": y / unitHeight, "j": x / unitWidth}));
    }, true);
    gameMap.focus();
</script>
</html>
